.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-image: black;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  background-color: #7439db;

}

@media screen and (min-width: 900px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid rgb(255, 248, 248);
    border-radius: 10px;
    margin: 0.5rem;
    height: 600px;
    margin-top: 100px;
    width: 700px;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin-top: 20px;
  padding: 15px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  width: 40%;
  box-sizing: border-box;
  margin-left: auto; 
  margin-right: auto;
}



button {
  border: none;
  background-color: blue; 
  padding: 10px; 
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff; 
}


.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

h2{
  font-weight: bold;
  font-size: 40px;
  margin-top: -10px;
}
.signup-textfield {
  display: inline-block;
  padding: 10px; /* Adjust the padding as needed */
  border: 1px solid blue; /* Set the border color to blue */
  border-radius: 5px; /* Adjust the border-radius for a smaller curve */
  cursor: pointer;
  color: blue; /* Set text color to blue */
  user-select: none; /* Disable text selection */
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

.signup-textfield:hover {
  background-color: #f0f0f0; /* Change background color on hover if desired */
}
